<div class= "jumbotron center">

<h1>Acerca de esta página</h1>
<p>

<%= link_to "Mi música ", "https://soundcloud.com/eder-morales-3"%>
(link a página externa)</p>
<p><%= link_to "Deportes Colaless ", "https://www.facebook.com/deportescolaless"%>
 ¡Para que te enteres de todas las noticias del equipo de moda! </p>
<p><%= link_to "BT2 ", "http://www.mer.cl"%>
 Aplicación para que nunca estés solo en un concierto.</p>


</div>