<div class= "jumbotron center">

<h1>About</h1>
<p>

<%= link_to "Mi música", "https://soundcloud.com/eder-morales-3"%>
(link a página externa)
<%= link_to "BT2", "http://www.mer.cl"%>
Aplicación para que nunca estés solo en un concierto.

</p>
</div>