<div class= "jumbotron">

	<h1>Bienvenidos a BT2</h1>
	<p> Para que nunca más estés solo en un concierto, ahora existe
		 <%= link_to "Be There Two", "http://www.emol.com"%></p>
	<p> Click aquí para unirte <%= link_to "Registro", "#", class: "btn btn-primary btn-lg"%></p>
</div>

