<div class= "jumbotron center">

	<h1>Bienvenidos a mi página</h1>
	<p> Desde aquí podrás escuchar mis canciones, saber más de mi equipo de Fútbol y entrar a las aplicaciones que iré desarrollando.
	<h1>
		<%= link_to "Música", "https://soundcloud.com/eder-morales-3", class: "btn btn-default btn-lg"%>

		<%= link_to "Fútbol", "https://www.facebook.com/deportescolaless", class: "btn btn-primary btn-lg"%>
		<%= link_to "BT2", "#", class: "btn btn-default btn-lg"%></h1>
</div>

