			<div>
				<small>
					 <%= link_to "Be There Too", "http://www.emol.com"%>
					 <%= link_to "Mi Música", "https://soundcloud.com/eder-morales-3"%>
					por Eder Morales 					

				</small>
			</div>